*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
.main{
    background-color: blanchedalmond;
    display: flex;
     justify-content: center;
    flex-wrap: wrap; 

    gap: 80px;
}
.card{
    /* width: 376px; */
    width: 500px;
    border: .5px solid rgba(0, 0, 0, 0.247);
    border-radius: 10px ;
    background-color: white;
}

.card img{
    width: 100%;
    height: 188px;
    border-radius: 10px 10px 0 0;
}
.card h2{
    margin: 0 0 8px;
    color: #502314;
    font: 18px Flame-Regular;
    font-weight: bold;
}
.card p{
    font: 12px Flame-RegularSans;
    color: #502314;
    font-weight: bold;
}
.card a{
    font: 12px Flame-RegularSans;
    margin-top: 20px;
    font-weight: bold;
    color: #502314;
    margin: 8px 0px;
}
.card-details{
    padding: 20px;
}
.card-details button{
    margin-top: 30px;
    margin-left: 240px;
    padding: 8px 16px;
    border: 1px solid #502314;
    border-radius: 9999px;
    color: #502314;
    font-weight: bold;
}
.card-details button:hover{

    background-color: rgba(128, 128, 128, 0.443);
}
/* .c1 , .c2 ,.c3 ,.c4{
    margin: 0px 0 10px 50px;
} */
